//  ROOT
lang= en
dir= ltr
align= left
align-alt= right

//  FONTS
family-headline= 'Roboto Slab', serif
family-body= 'Montserrat', sans-serif
weight-regular= 400
weight-bold= 700

font-headline= 48px
font-headline2= 28px
font-default= 14px
font-small= 12px
font-small-alt= 11px

//  LOAD FILES
@import "load"
