extends ../layouts/public

block content
  .wrapper
    
    //- CONTAINER
    .container
      
      //- TEMPLATES
      .background
      include ../templates/home
      include ../templates/secret
      include ../templates/bucket
      include ../templates/bucketAll
      include ../templates/notFound
      
      //- SIGNATURE
      a#signature.loading.router(href='#' title='View home')
      
      //- IDENTITY
      include ../includes/identity
