extends ../layouts/public

block content
  .wrapper
    
    //- CONTAINER
    .container
      
      //- TEMPLATES
      //- include ../templates/home
      //- include ../templates/secret
      //- include ../templates/bucket
      //- include ../templates/bucketAll
      
      //- SIGNATURE
      #signature
      
      //- IDENTITY
      include ../includes/identity
