extends ../layouts/public

block content
  .wrapper
    
    //- TEMPLATES
    .container
      //- include ../templates/home
      //- include ../templates/secret
      //- include ../templates/bucket
      //- include ../templates/bucketAll
    
    //- IDENTITY
    include ../includes/identity
