extends ../layouts/public

block content
  .wrapper
    
    //- CONTAINER
    .container
      
      //- TEMPLATES
      include ../templates/home
      include ../templates/secret
      include ../templates/bucket
      include ../templates/bucketAll
      include ../templates/notFound
      
      //- SIGNATURE
      include ../includes/signature
      
      //- IDENTITY
      include ../includes/identity
