extends ../layouts/public

block content
  .wrapper
    
    //- CONTAINER
    .container
      
      //- TEMPLATES
      //- include ../templates/home
      //- include ../templates/secret
      //- include ../templates/bucket
      //- include ../templates/bucketAll
      
      //- SIGNATURE
      a#signature.loading.router(href='#' title='View home')
      
      //- IDENTITY
      include ../includes/identity
