audio(autoplay loop id='audio' preload='auto')
  source(src='includes/audio/channa-mereya-ae-dil-hai-mushkil-karaoke.mp3' type='audio/mpeg')
  source(src='includes/audio/channa-mereya-ae-dil-hai-mushkil-karaoke.ogg' type='audio/ogg')
  p Sorry, your browser does not support audios.
