#identity.loading(title='Menu')
  div: a.router(href='#secret' title='Tell secret'): span tell secret
  div: a.router(href='#bucket' title='Bucket list'): span bucket list
  div: a.router(href='#projects' title='Latest projects'): span latest projects
  div: a.router(href='#thoughts' title='My thoughts'): span my thoughts
