template= {
  padding: {
    top: container.padding.top + navigation.height + baseline*3.75,
    bottom: baseline*2.75
  }
}

.template
  display: none
  makeAbsolute: 0 0 0
  white-space: nowrap
  main
    makeAbsolute: template.padding.top 0
    padding-bottom: template.padding.bottom
    hasTransition()
    @media (max-width: gamma - 1)
      top: container.padding.top + navigation.height + baseline*2
    span
      display: block
    h1 > *,
    .h1 > *
      height: headline-height
      hasTransition()
      @media (max-width: gamma - 1)
        height: headline-height*.6
        line-height: headline-height*.6
        font-size: font-headline*.6
    .p, ul
      margin-bottom: baseline*.75
  footer
    makeAbsolute: auto 0 (container.padding.bottom)

//  HEADLINE ANIMATION
.template h1 > *,
.template .h1 > *
  show: 2
  mark:before
    {align-alt}: 100%
    animation: markAnimation duration easing duration*.5 forwards
    @keyframes markAnimation
      0%
        {align-alt}: 100%
      100%
        {align-alt}: 0
.template:not(.current)
  h1 > *,
  .h1 > *
    hide: 2
