identity= {
  ball: 10px,
  colors: (green yellow red blue),
  robot: baseline*.5,
  gap: {
    normal: baseline*.5,
    rest: 20px
  }
}

identity.position= (identity.ball + identity.gap.normal)*.5
identityTopLeft()
  makeAbsolute: -(identity.position), -(identity.position)
identityBottomLeft()
  makeAbsolute: identity.position, -(identity.position)
identityTopRight()
  makeAbsolute: -(identity.position), identity.position
identityBottomRight()
  makeAbsolute: identity.position, identity.position

//  IDENTITY
#identity
  makeAbsolute: (container.padding.top + navigation.height*.5), 0
  hasTransition()
  > div
    height: identity.ball
    width: identity.ball
    margin-top: -(identity.ball*.5)
    margin-left: -(identity.ball*.5)
    border-radius: 50%
    hasTransition()
    for i in range(1,(length(identity.colors)))
      &:nth-child({i})
        background-color: identity.colors[i - 1]
    &:nth-child(1)
      identityTopLeft()
    &:nth-child(2)
      identityBottomLeft()
    &:nth-child(3)
      identityTopRight()
    &:nth-child(4)
      identityBottomRight()

//  LOADING
#identity.loading
  makeAbsolute: 50%, 50%

//  REST
#identity.rest > div
  top: 0
  margin-left: 0
  cursor: pointer
  animation: none
  for i in range(1,(length(identity.colors)))
    &:nth-child({i})
      {align}: (identity.ball + identity.gap.rest) * (i - 1)

//  WORKING
#identity.working > div
  &:nth-child(1)
    animation: identityWorkingGreen duration*2 ease infinite
  &:nth-child(2)
    animation: identityWorkingYellow duration*2 ease infinite
  &:nth-child(3)
    animation: identityWorkingRed duration*2 ease infinite
  &:nth-child(4)
    animation: identityWorkingBlue duration*2 ease infinite

@keyframes identityWorkingGreen
  0%, 100%
    identityTopLeft()
  25%
    identityTopRight()
  50%
    identityBottomRight()
  75%
    identityBottomLeft()

@keyframes identityWorkingYellow
  0%, 100%
    identityBottomLeft()
  25%
    identityTopLeft()
  50%
    identityTopRight()
  75%
    identityBottomRight()

@keyframes identityWorkingRed
  0%, 100%
    identityTopRight()
  25%
    identityBottomRight()
  50%
    identityBottomLeft()
  75%
    identityTopLeft()

@keyframes identityWorkingBlue
  0%, 100%
    identityBottomRight()
  25%
    identityBottomLeft()
  50%
    identityTopLeft()
  75%
    identityTopRight()

//  ROBOT
.wrapper:not(.balls) #identity.robot > div
  animation: identityRobot duration*2 ease-in-out infinite
  @keyframes identityRobot
    0%, 100%
      transform: translateY(0)
    50%
      transform: translateY(identity.robot)
  &:nth-child(2)
    animation-delay: .15s
  &:nth-child(3)
    animation-delay: .3s
  &:nth-child(4)
    animation-delay: .45s
