step= .03
pattern= 1.6
line= {
  distance: baseline*2.5,
  rotate: 5deg,
  keyframe: 0
}

//  MOVE
move(to, distance=line.distance, rotate=line.rotate)
  if(to=='up')
    opacity: 0
    transform: translateY(- distance) rotate(- rotate)
  if(to=='middle')
    opacity: 1
    transform: translateY(0) rotate(0)
  if(to=='down')
    opacity: 0
    transform: translateY(distance) rotate(rotate)

//  MULTI ANIMATION
multiAnimation(min, max, dur=duration, dly=0)
  d= 0
  for i in min..max
    d= (d+step)*pattern
    &:nth-child({i})
      animation-duration: dur+d
      animation-delay: dly+d

//  SHOW
show(min, max, dur=duration, dly=0)
  line.keyframe= line.keyframe + 1
  animation: showLine+line.keyframe dur easing unit(dly, 's') forwards
  @keyframes showLine{line.keyframe}
    0%
      move('down')
    100%
      move('middle')
  multiAnimation: min max dur dly

//  HIDE
hide(min, max, dur=duration, dly=0)
  line.keyframe= line.keyframe + 1
  animation: hideLine+line.keyframe dur easing unit(dly, 's') forwards
  @keyframes hideLine{line.keyframe}
    0%
      move('middle')
    100%
      move('up')
  multiAnimation: min max dur dly
