step= .03
pattern= 2.8
line= {
  distance: baseline*2,
  rotate: 5deg
}

//  MOVE
move(to)
  if(to=='up')
    opacity: 0
    transform: translateY(- line.distance) rotate(- line.rotate)
  if(to=='stop')
    opacity: 1
    transform: translateY(0) rotate(0)
  if(to=='down')
    opacity: 0
    transform: translateY(line.distance) rotate(line.rotate)

//  KEYFRAMES
@keyframes showLine
  0%
    element('down')
  100%
    element('stop')
@keyframes hideLine
  0%
    element('stop')
  100%
    element('up')

//  SHOW
show(dur=duration, dly=0)
  animation: showLine dur easing unit(dly, 's') forwards
  {block}

//  HIDE
hide(dur=duration, dly=0)
  animation: hideLine dur easing unit(dly, 's') forwards
  {block}

//  MULTI ANIMATION
multiAnimation(min, max, dur=duration, dly=0)
  d= 0
  for i in min..max
    d= (d+step)*pattern
    &:nth-child({i})
      animation-duration: dur+d
      animation-delay: dly+d
