signature= {
  frames: 44,
  sheet: 2464px*.5,
  width: 192px*.5,
  height: 56px*.5
}
signature.position = (identity.ball*4 + identity.gap.rest*3) + baseline

#signature
  makeAbsolute: container.padding.top signature.position
  width: signature.width
  height: signature.height
  background-image: url('../images/signature.png')
  background-size: signature.width
  @media (min-width: alpha)
    {align}: 50%
    margin-{align}: -(signature.width*.5)

//  ANIMATION
#signature:not(.loading)
  animation: signatureAnimation duration*2 steps(signature.frames - 1) forwards
  @keyframes signatureAnimation
    100%
      background-position: 0 (-(signature.sheet - signature.height))
