*, *:before, *:after
  box-sizing: border-box

html, body
  width: 100%
  height: 100%

body
  position: relative
  direction: dir
  text-align: align
  font-family: family-body
  font-size: font-default
  font-weight: weight-regular
  line-height: baseline
  background-color: background
  color: grey-high
  -webkit-font-smoothing: antialiased

img
  user-select: none

selection(selection-bg, selection-color)

audio
  z-index: 10
  makeAbsolute: 50% 50%
  text-align: align-alt
  font-size: font-headline
