baseline= 28px
rotate= 5deg

//  RESPONSIVE
alpha= 320px
beta= 500px
gamma= 600px
delta= 992px

//  COLORS
green= #419d78
greenAlpha= rgba(65, 157, 120, .14)
yellow= #e0a458
yellowAlpha= rgba(224, 164, 88, .14)
red= #d9594c
redAlpha= rgba(217, 89, 76, .14)
blue= #53a2be
blueAlpha= rgba(83, 162, 190, .14)

background= #171a19
contrast= #fff
grey-high= #ddd
grey= #aaa
grey-low= #666

selection-bg= rgba(102, 102, 102, .14)
selection-color= grey-low

//  CONTAINER
container= {
  width: 1000px,
  padding: {
    top: baseline*1.25,
    bottom: baseline
  }
}

//  NAVIGATION
navigation= {
  height: baseline
}

//  SELECTION
selection(bg, color)
  ::selection
    background: bg
    color: color
  ::-moz-selection
    background: bg
    color: color

//  OUTLINE
outline= 1px dashed
outline-color= contrast
hasOutline(clr= outline-color)
  &, &:hover
    outline: outline transparent
  &:not(:hover):focus
    outline: outline clr

//  ABSOLUTE
makeAbsolute(tp=0, al=0, btm=auto, alt=auto)
  position: absolute
  if(tp!=auto)
    top: tp
  if(al!=auto)
    {align}: al
  if(btm!=auto)
    bottom: btm
  if(alt!=auto)
    {align-alt}: alt

//  TRANSITION
step= .03
pattern= 1.16
duration= .7s
easing= cubic-bezier(0.190,1.000,0.220,1.000)
hasTransition(dur=duration, dly=0, d=0)
  transition: all (dur+d) easing unit(dly+d, 's')
multiTransition(min, max, dur=duration, dly=0, last=false)
  d= 0
  for i in min..max
    d= (d+step)*pattern
    if(last!=true)
      &:nth-child({i})
        hasTransition: dur dly d
    if(last==true)
      &:nth-last-child({i})
        hasTransition: dur dly d

//  GET IN
getIn(direction)
  opacity: 0
  if(direction=='up')
    transform: translateY(baseline) rotate(rotate)
  if(direction=='down')
    transform: translateY(- baseline) rotate(- rotate)
