container= {
  width: 1000px,
  padding: {
    top: baseline*1.25,
    bottom: baseline
  }
}

navigation= {
  height: baseline
}

.wrapper
  position: relative
  overflow: hidden
  height: 100%
  min-height: beta
  grabbable()
  .container
    position: relative
    width: 90%
    max-width: container.width
    height: 100%
    margin: 0 auto
