.template[data-template=bucket]
  templateAnimation('.small > *', 1, duration3)
  templateAnimation('.p > *', 1, duration4)
  templateAnimation('main .links > *', 1, duration5)
  templateAnimation('footer .links > *', 2, duration6)

  .small
    margin-bottom: baseline*.25

.wrapper.bucket
  min-width: 380px
