.template[data-template=notFound]
  templateAnimation('.p > *', 1, duration3)
  templateAnimation('main .links > *', 1, duration4)

//  GRAYSCALE
.notFound #identity,
.notFound #signature,
.notFound #stars,
.notFound #yahia
  filter: grayscale(1)
