.template[data-template=projectsAll]
  templateAnimation('.small > *', 2, duration3)
  templateAnimation('ul > *', 11, duration5)
  templateAnimation('.links > *', 1, duration16)

  .small
    margin-bottom: baseline*.5
