.template[data-template=secret]

  //  FIELD
  .form .field > *
    show: 2 duration3
  &:not(.current) .form .field > *
    hide: 2 duration3

  // FOOTER LINKS
  footer .links > *
    show: 2 duration5
  &:not(.current) footer .links > *
    hide: 2 duration5
