.template[data-template=secret]
  templateAnimation('.form .field > *', 2, duration3)
  templateAnimation('.form .status.current > *', 2, duration5)
  templateAnimation('footer .links > *', 2, duration7)

.wrapper.secret
  min-width: 390px
