.template[data-template=thoughtsAll]
  templateAnimation('.small > *', 2, duration3)
  templateAnimation('ul > *', 4, duration5)
  templateAnimation('.links > *', 1, duration9)

  .small
    margin-bottom: baseline*.5
