.template.color-yellow(data-template='bucketAll')
  
  //- MAIN
  main
    .h1
      span She’s at the
      span top of my #[mark bucket list]
    .small
      span Yes, you! You know that I meant you, right? So anyway,
      span how can you find sleep at night after stealing my heart?
    
    //- LIST
    ul.list.blocks
      - for (var a = 0; a < bucketList.length; a++)
        if(a === 1)
          +next(bucketList[a])
        else if(typeof bucketList[a] === 'string')
          if(a < 9)
            +pending('0' + (a + 1), bucketList[a])
          else
            +pending(a + 1, bucketList[a])
        else
          +archived(bucketList[a].date, bucketList[a].description, bucketList[a].url)
    
    .links: a.link.router(href='#' title='Back to home') Back to home
