.template.color-yellow(data-template='bucketAll')
  
  //- MAIN
  main
    h1
      div She’s at the
      div top of my #[mark bucket list]
    .small
      div You know that I meant you, right?
      div I couldn’t stop thinking of you since we first met.
    ul.blocks
      li Have the courage to tell the girl I love that I love her
      li Visit all 14 Syrian governorates
      li Teach web design to 20 people without anything in return
      li Visit the Hogwarts School of Witchcraft and Wizardry
      li Watch Harry Potter’s movies all at once without sleeping
      li Own my first CSS Design Award
      li Have a pet
      li Have a monkey
      li Have a baby lion
      li Play with a baby panda
      li 30 day doodle to illustrator
      li Read the license for all the softwares I usually use
      li Devote a one day to help random people from the street
      li Write a one paper song
    
    .links: a.link.router(href='#' title='Back to home') Back to home
