.template.color-yellow(data-template='bucket')
  
  //- MAIN
  main
    .h1
      span
      span Things to do before #[mark 2020]
    .small: span What’s up next?
    .p: span Own my first Website Of The Day
    .links: a.link.router(href='#bucket/all' title='View all the bucket list') View all the bucket list
  
  //- FOOTER
  footer: .links
    a.link.router.small.alt(href='#secret' title='Tell me a secret') Tell me a secret
    a.link.router.small.alt(href='#' title='Back to home') Back to home
