.template.color-yellow(data-template='bucketAll')
  
  //- MAIN
  main
    .h1
      span She’s at the
      span top of my #[mark bucket list]
    .small
      span You have a way of coming easily to me..
      span And when you take, you take the very best of me.
    
    //- BUCKET LIST
    include ../includes/bucketList
    
    .links: a.link.router(href='#' title='Back to home') Back to home
