.template.color-yellow(data-template='bucketAll')
  
  //- MAIN
  main
    .h1
      span She’s at the
      span top of my #[mark bucket list]
    .small
      span You remember this tune, don't you?
      span How can you find sleep at night after you stole my heart?
    
    //- LIST
    ul.list.blocks
      +next('Have the courage to tell the girl I like that I like her')
      +pending('02', 'Ditch my wedding, and travel somewhere instead.. PLEASE HONEY!')
      +pending('03', 'Visit all 14 Syrian governorates')
      +pending('04', 'Record a documentary about some part of my life')
      +progress('Own my first CSS Design Award')
      +progress('Teach web design to 20 people without anything in return')
      +pending('07', 'Teach 20 homeless how to code and change their lives')
      +pending('08', 'Visit the Hogwarts School of Witchcraft and Wizardry')
      +archived('Sep 20, 2017', 'Watch Harry Potter’s movies all at once without sleeping', 'https://www.facebook.com/events/125212944878228/permalink/125215144878008/')
      +archived('Sep 21, 2018', 'Have a pet', 'https://www.facebook.com/YahiaRefaiea/posts/1090008704488683')
      +pending('11', 'Have a monkey')
      +pending('12', 'Have a baby lion')
      +pending('13', 'Play with a baby panda')
      +archived('Mar 23, 2016', '30 day doodle to illustrator', 'https://www.facebook.com/YahiaRefaiea/media_set?set=a.542222899267269&type=3')
      +archived('Oct 31, 2017', 'Do Inktober drawing challenge', 'https://www.facebook.com/YahiaRefaiea/media_set?set=a.867667380056151&type=3')
      +pending('16', 'Read the license for all the softwares I usually use')
      +pending('17', 'Devote a one day to help random people from the street')
      +pending('18', 'Publish a book')
      +pending('19', 'Write a one paper song')
      +pending('20', 'Watch Game of Thrones')
      +pending('21', 'Learn how to play an instrument')
      +pending('22', 'Play an instrument in the street')
      +pending('23', 'Ride a four wheelers in the desert')
      +pending('24', 'Catch-up 50 fish all by myself')
      +pending('25', 'Work in a zoo as a zoo keeper')
      +pending('26', 'Live in a treehouse for 6 months')
      +pending('27', 'Rent a boat for a one day with my future wife all alone in a river')
      +pending('28', 'Visit Disneyland with my future daughter')
      +pending('29', 'Visit Switzerland')
      +pending('30', 'Visit La Villa Sola Cabiati in Italy')
      +pending('31', 'Master chess')
      +pending('32', 'Monthly donate to an animal shelter')
      +archived('Apr 22, 2018', 'Win Startup Weekend 1st place', 'https://www.facebook.com/YahiaRefaiea/posts/971219879700900')
      +pending('34', 'Face a fear')
      +pending('35', 'Go to a major festival in China')
      +pending('36', 'Go on a hike')
      +pending('37', 'Skydiving')
      +pending('38', 'Bungee jumping')
      +pending('39', 'Cave diving')
      +pending('40', 'Spend a night on the beach')
      +pending('41', 'Send a message in a bottle over the sea')
      +pending('42', 'Eat a pizza in Italy')
      +pending('43', 'Take a walk through Italy')
      +pending('44', 'Speak Italian fluently')
      +pending('45', 'Speak 4 International languages fluently')
      +pending('46', 'Hold a real gun')
      +pending('47', 'Have a paintball fight with friends')
      +pending('48', 'Start and achieve a 365 Day Happiness Challenge')
      +pending('49', 'Travel the world with someone I love')
      +pending('50', 'Ride a jetski')
      +pending('51', 'Have a vacation in Cordova')
      +pending('52', 'Visit the Walk of Fame')
      +pending('53', 'Visit the Breaking Room!')
      +pending('54', 'Visit all 7 continents in one year')
      +pending('55', 'Attend a live music concert')
      +pending('56', 'Learn self defense')
      +pending('57', 'Watch 100 Hindi movies')
      +pending('58', 'Watch a full boring football game')
      +pending('59', 'Make delicious food to feed myself each day')
      +pending('60', 'Work in a restaurant.. McDonalds?')
      +pending('61', 'Sell food in the street')
      +pending('62', 'Travel first class')
      +pending('63', 'Marry the love of my life')
      +pending('64', 'Start a startup idea that sounds like a stupid idea.. But turns to be a successful business')
      +pending('65', 'Solve a Rubik’s cube')
      +pending('66', 'Learn how to ride a horse')
      +pending('67', 'Learn how to shoot with an arc')
      +pending('68', 'Have a couple of arc shots while riding a horse')
      +pending('69', 'Touch a dolphin')
      +pending('70', 'Build something using the Lego blocks')
      +pending('71', 'Wear a bear costume and hug random people from the street')
      +pending('72', 'Practice Kung Fu or Aikido')
    
    .links: a.link.router(href='#' title='Back to home') Back to home
