.template.color-yellow(data-template='bucketAll')
  
  //- MAIN
  main
    .h1
      span
      span #[mark bucket list]
    .small
      span Please don’t tell this to anyone.. This list got stolen
      span from an idiot I knew. Any problems?
    
    //- LIST
    ul.list.blocks
      +pending('01', 'Find the one and only girl I’ll spend my entire life with')
      +archived('May 9, 2020', 'Have the courage to tell the girl I like that I like her', 'http://crush.yahiarefaiea.com')
      +pending('03', 'Ditch my wedding, and travel somewhere instead')
      +pending('04', 'Visit all 14 Syrian governorates')
      +pending('05', 'Record a documentary about some part of my life')
      +archived('Nov 12, 2018', 'Get my work nominated for Website Of The Day', 'https://twitter.com/YahiaRefaiea/status/1061944244519297030')
      +next('Own my first Website Of The Day')
      +pending('08', 'Own my first Website Of The Month')
      +pending('09', 'Own my first Website Of The Year')
      +pending('10', 'Be Designer Of The Year')
      +pending('11', 'Teach 20 homeless how to code and change their lives')
      +pending('12', 'Visit the Hogwarts School of Witchcraft and Wizardry')
      +archived('Sep 20, 2017', 'Watch Harry Potter’s movies all at once without sleeping', 'https://www.facebook.com/events/125212944878228/permalink/125215144878008/')
      +archived('Sep 21, 2018', 'Have a pet', 'https://www.facebook.com/YahiaRefaiea/posts/1090008704488683')
      +pending('15', 'Have a monkey')
      +pending('16', 'Have a baby lion')
      +pending('17', 'Play with a baby panda')
      +archived('Mar 23, 2016', '30 day doodle to illustrator', 'https://www.facebook.com/YahiaRefaiea/media_set?set=a.542222899267269&type=3')
      +archived('Oct 31, 2017', 'Do Inktober drawing challenge', 'https://www.facebook.com/YahiaRefaiea/media_set?set=a.867667380056151&type=3')
      +pending('20', 'Read the license for all the softwares I usually use')
      +pending('21', 'Devote a one day to help random people from the street')
      +pending('22', 'Publish a book')
      +pending('23', 'Write a one paper song')
      +pending('24', 'Watch Game of Thrones')
      +pending('25', 'Learn how to play an instrument')
      +pending('26', 'Play an instrument in the street')
      +pending('27', 'Ride a four wheelers in the desert')
      +pending('28', 'Catch-up 50 fish all by myself')
      +pending('29', 'Work in a zoo as a zoo keeper')
      +pending('30', 'Live in a treehouse for 6 months')
      +pending('31', 'Rent a boat for a one day with my future wife all alone in a river')
      +pending('32', 'Visit Disneyland with my future daughter')
      +pending('33', 'Visit Switzerland')
      +pending('34', 'Visit La Villa Sola Cabiati in Italy')
      +pending('35', 'Master chess')
      +pending('36', 'Monthly donate to an animal shelter')
      +archived('Apr 22, 2018', 'Win Startup Weekend 1st place', 'https://www.facebook.com/YahiaRefaiea/posts/971219879700900')
      +pending('38', 'Face a fear')
      +pending('39', 'Go to a major festival in China')
      +pending('40', 'Go on a hike')
      +pending('41', 'Skydiving')
      +pending('42', 'Bungee jumping')
      +pending('43', 'Cave diving')
      +pending('44', 'Spend a night on the beach')
      +pending('45', 'Send a message in a bottle over the sea')
      +pending('46', 'Eat a pizza in Italy')
      +pending('47', 'Take a walk through Italy')
      +pending('48', 'Speak Italian fluently')
      +pending('49', 'Speak 4 International languages fluently')
      +pending('50', 'Hold a real gun')
      +pending('51', 'Have a paintball fight with friends')
      +pending('52', 'Start and achieve a 365 Day Happiness Challenge')
      +pending('53', 'Travel the world with someone I love')
      +pending('54', 'Ride a jetski')
      +pending('55', 'Have a vacation in Cordova')
      +pending('56', 'Visit the Walk of Fame')
      +pending('57', 'Visit the Breaking Room!')
      +pending('58', 'Visit all 7 continents in one year')
      +pending('59', 'Attend a live music concert')
      +pending('60', 'Learn self defense')
      +pending('61', 'Watch 100 Hindi movies')
      +pending('62', 'Watch a full boring football game')
      +pending('63', 'Make delicious food to feed myself each day')
      +pending('64', 'Work in a restaurant.. McDonalds?')
      +pending('65', 'Sell food in the street')
      +pending('66', 'Travel first class')
      +pending('67', 'Marry the love of my life')
      +pending('68', 'Start a startup idea that sounds like a stupid idea.. But turns to be a successful business')
      +pending('69', 'Solve a Rubik’s cube')
      +pending('70', 'Learn how to ride a horse')
      +pending('71', 'Learn how to shoot with an arc')
      +pending('72', 'Have a couple of arc shots while riding a horse')
      +pending('73', 'Touch a dolphin')
      +pending('74', 'Build something using the Lego blocks')
      +pending('75', 'Wear a bear costume and hug random people from the street')
      +pending('76', 'Practice Kung Fu or Aikido')
    
    .links: a.link.router(href='#' title='Back to home') Back to home
