.template.color-yellow(data-template='home')
  
  //- MAIN
  main
    h1
      span A #[mark 22 years] old
      span  interaction designer
    .p
      span hi@yahiarefaiea.com
      span (+963) 96 2295 406
    .links
      a.link.router.color-yellow(href='#bucket' title='View my bucket list') View my bucket list
      a.link.router.color-green(href='#secret' title='Tell me a secret') Tell me a secret
      a.link.color-red(href='Yahia_Refaiea_Resume.pdf' title='Download my résumé' target='_blank') Download my résumé
  
  //- FOOTER
  footer: .links
    a.link.small.alt(href='http://facebook.com/YahiaRefaiea' title='Facebook (@YahiaRefaiea)' target='_blank') Facebook
    a.link.small.alt(href='http://twitter.com/YahiaRefaiea' title='Twitter (@YahiaRefaiea)' target='_blank') Twitter
    a.link.small.alt(href='http://codepen.io/YahiaRefaiea' title='Codepen (@YahiaRefaiea)' target='_blank') Codepen
    a.link.small.alt(href='https://dribbble.com/YahiaRefaiea' title='Dribbble (@YahiaRefaiea)' target='_blank') Dribbble
    a.link.small.alt(href='https://medium.com/@YahiaRefaiea' title='Medium (@YahiaRefaiea)' target='_blank') Medium
