.template.color-grayscale(data-template='notFound')
  
  //- MAIN
  main
    .h1
      span The page you’re
      span looking for #[mark doesn’t exist]..
    .p: span We’ll be getting back home within #[time 5] seconds.
    .links: a.link.router(href='#' title='Back to home now' data-callback='notFoundCallback') Back to home now
