.template.color-yellow(data-template='notFound')
  
  //- MAIN
  main
    h1
      div The page you’re
      div looking for #[mark doesn't exist]..
    .p: div We’ll be getting back home within 15 seconds.
    .links: a.link.router(href='#home' title='Back to home now') Back to home now
