.template.color-red(data-template='projectsAll')
  
  //- MAIN
  main
    .h1
      span
      span #[mark latest projects]
    .small
      span These are some projects I'm proud of creating,
      span contributing, or being part of.
    
    //- LIST
    ul.list.blocks
      +listItem('Feb 14, 2017', 'AqraArabi Platform', 'https://yahiarefaiea.com/AqraArabi/')
      +listItem('May 24, 2018', 'Clerk', 'https://nuotron.co/clerk/')
      +listItem('Mar 29, 2018', 'A Survey when we closed Nucubuc', 'https://nucubuc.yahiarefaiea.com/survey/')
      +listItem('Jul 26, 2018', 'Two Weeks Web Design Survey at Nuotron', 'https://2wwd.nuotron.co/survey/')
      +listItem('Feb 20, 2017', 'Scratch Day', 'http://scratchday.genius-planet.com/en/')
      +listItem('Sep 14, 2018', 'My Beta Website', 'https://beta.yahiarefaiea.com/')
      +listItem('Apr 18, 2018', 'My Coming Soon Website', 'https://yahiarefaiea.com/soon/')
      +listItem('Jan 25, 2016', 'My 2016 Website', 'https://2016.yahiarefaiea.com/')
      +listItem('Dec 18, 2015', 'Calligraphy Kufi in Arabic', 'https://www.facebook.com/YahiaRefaiea/media_set?set=a.562779303878295&type=3')
      +listItem('Mar 23, 2016', '30 Day Doodle to Illustrator', 'https://www.facebook.com/YahiaRefaiea/media_set?set=a.542222899267269&type=3')
      +listItem('Oct 01, 2017', 'Inktober', 'https://www.facebook.com/YahiaRefaiea/media_set?set=a.867667380056151&type=3')
    
    .links: a.link.router(href='#' title='Back to home') Back to home
