.template.color-green(data-template='secret')
  
  //- MAIN
  main
    .h1
      span Tell me all of your
      span #[mark secrets] and be honest..
    .form
      +field('secret', 'I have a crush on you..', 'textarea')
      a.link.submit(href='#' title='Submit' data-form='secret') Submit
      .small
        .status.current
          span If you’re telling me that you killed your brother, I’ll be the one
          span who reports you to the police. Okay? Okay? Okay.
        .status(data-status='waiting')
          span Please wait a minute..
          span I’m trying to connect to the server.
        .status(data-status='success')
          span I got it! Whatever you told me..
          span It will never see the light of day again.
        .status(data-status='error')
          span Something went wrong..
          span Please try again later.
  
  //- FOOTER
  footer: .links
    a.link.router.small.alt(href='#bucket' title='View my bucket list') View my bucket list
    a.link.router.small.alt(href='#' title='Back to home') Back to home
