.template.color-green(data-template='secret')
  
  //- MAIN
  main
    .h1
      span Tell me all of your
      span #[mark secrets] and be honest..
    .form
      +field('secret', 'I have a crush on you..', 'textarea')
      a.link.submit(href='#' title='Submit' data-form='secret') Submit
  
  //- FOOTER
  footer: .links: a.link.router.small.alt(href='#bucket' title='View my bucket list') View my bucket list
