input-width= baseline*11.25
input-height= baseline*1.25
input-padding= 0
input-border= link.height
input-radius= 0

input-family= inherit
input-font= inherit
input-weight= inherit

input-bg= transparent
input-color= contrast
input-placeholder= grey-low

form
  margin: 0

//  INPUT AND TEXTAREA
input, textarea
  display: block
  width: 100%
  height: input-height
  margin: 0
  padding: input-padding
  border: none
  border-radius: input-radius

  font-family: input-family
  font-size: input-font
  font-weight: input-weight
  line-height: input-height
  vertical-align: middle

  hasTransition()
  background-color: input-bg
  color: input-color

  &,
  &:hover,
  &:focus
    outline: 0
    box-shadow: none

  +placeholder()
    color: input-placeholder
    opacity: 1 !important

  //  YELLOW BACKGROUND CHROME
  &:-webkit-autofill
    -webkit-box-shadow: inset 0 0 0 1000px background

//  TEXTAREA
textarea
  resize: none
  min-height: auto
  height: input-height*3 + 1px

//  FIELD
.field
  position: relative
  max-width: input-width
  border-bottom: input-border solid transparent
  .effect
    makeAbsolute: auto 0 (- input-border) 0
    height: input-border
    background-color: input-placeholder
    hasTransition()
    > *
      makeAbsolute: 0 0 0 100%
      hasTransition()
  &.filled .effect > *,
  input:focus ~ .effect > *,
  textarea:focus ~ .effect > *
    for i in 1..4
      &:nth-child({i})
        {align-alt}: 25% * (i - 1)
  &.filled.validated .effect > *
    for i in 1..4
      &:nth-child({i})
        {align-alt}: 5% * (i - 1)

//  FIELD COLOR
fieldColor(colorName)
  if(colorName=='green')
    input-colors= (blue red yellow green)
  if(colorName=='yellow')
    input-colors= (green blue red yellow)
  if(colorName=='red')
    input-colors= (yellow green blue red)
  if(colorName=='blue')
    input-colors= (red yellow green blue)
  .color-{colorName} .field .effect > *
    for i in range(1,(length(input-colors)))
      &:nth-child({i})
        background-color: input-colors[i - 1]

//  FIELD COLOR CALLS
fieldColor('green')
fieldColor('yellow')
fieldColor('red')
fieldColor('blue')
