link= {
  width: baseline*.75,
  height: 2px,
  small: {
    height: baseline*.25,
    color: rgba(255, 255, 255, .07)
  }
}

linkEffect()
  display: inline-block
  position: relative
  &:before
    content: ''
    z-index: -1
    display: block
    hasTransition()

//  ANCHOR
a
  cursor: pointer
  color: inherit
  hasTransition()
  hasOutline: transparent
  &, &:hover
    text-decoration: none

//  LINK
a.link:not(.small)
  font-weight: weight-bold
  linkEffect()
  &:before
    makeAbsolute: auto 0 0
    width: link.width
    height: link.height
  &:hover:before
    width: 100%

//  LINK SMALL
a.link.small
  color: grey
  linkEffect()
  &:before
    makeAbsolute: auto 0 (link.height) 0
    height: link.small.height
    background-color: link.small.color
  &:hover:before
    bottom: -(link.small.height*.5)
    height: link.height

//  LINKS
.links
  a.link:not(.small)
    &:not(:last-child)
      margin-{align-alt}: baseline*1.25
    @media (max-width: gamma - 1)
      display: block
      &:not(:last-child)
        margin-{align-alt}: 0
        margin-bottom: baseline*.5
      &:hover:before
        width: link.width*3
  a.link.small:not(:last-child)
    margin-{align-alt}: baseline*.75

//  LINK COLOR
linkColor(colorName, color)
  .color-{colorName} a.link:not(.small),
  .color-{colorName} a.link.small:hover
    color: color
    &:before
      background-color: color
  a.link:not(.small).color-{colorName},
  a.link.small.color-{colorName}:hover
    color: color !important
    &:before
      background-color: color !important

//  LINK COLOR CALLS
linkColor('green', green)
linkColor('yellow', yellow)
linkColor('red', red)
linkColor('blue', blue)
linkColor('grayscale', grayscale)
