doctype html
html(lang="en" dir="ltr")
  
  //- HEAD
  head
    
    //- TITLE AND META TAGS
    block title
      title Yahia Refaiea [Beta]
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block meta
      meta(name="description" content="I’m a 22 years old handsome guy who grows up in a small town in Syria.")
      meta(name="author" content="Yahia Refaiea")
      meta(property="og:url" content="http://beta.yahiarefaiea.com/")
      meta(property="og:image" content="http://beta.yahiarefaiea.com/includes/images/opengraph.png")
    
    //- INCLUDES
    link(rel="icon" type="image/png" href="includes/images/favicon.png")
    link(rel="stylesheet" href="includes/stylesheets/yahiarefaiea.lite.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.3/mobile-detect.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r72/three.min.js")
    script(src="includes/javascripts/yahiarefaiea.lite.js")
  
  //- BODY
  body
    
    include ../mixins/fields
    include ../mixins/lists
    
    //- CONTENT
    block content
    
    img(src="includes/images/identity.png" style="display: none" title="Yahia Refaiea identity" alt="Yahia Refaiea identity")
